* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  min-height: 100svh;
  font-family: sans-serif;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.header {
  padding: 1rem 0;
  box-shadow: 0 0 4px rgb(0 0 0 / .15);
}
.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__site-logo {
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.btn-menu-toggle {
  display: none;
  padding: .5em;
  border: 2px solid #3f3f3f;
}
.header__nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.header__nav-link {
  --clr-nav-link: black;
  position: relative;
  text-decoration: none;
  color: var(--clr-nav-link);
}
.header__nav-link::before {
  --bg-nav-link: limegreen;
  content: '';
  position: absolute;
  bottom: 0;
  height: 0.2rem;
  width: 100%;
  transform-origin: center;
  background-color: var(--bg-nav-link);
  border-radius: 100vmax;
  transform: scale(0);
  transition: 
    transform 300ms ease;
}
.header__nav-link.active::before {
  --bg-nav-link: lime;
}
.header__nav-link.active::before,
.header__nav-link:hover::before,
.header__nav-link:focus-visible::before {
  transform: scale(1);
}
.header__nav-link:focus-visible {
  outline: 2px solid lime;
  outline-offset: 4px;
  border-radius: 100vmax;
}
@media (max-width: 40em) {
  .header > .container {
    flex-wrap: wrap;
  }
  .btn-menu-toggle {
    margin-left: auto;
    display: block;
  }
  .header__nav {
    display: grid;
    transition: 
      grid-template-rows 300ms ease;
    width: 100%;
    flex-shrink: 0;
  }
  .header__nav-list {
    overflow: hidden;
    text-align: center;
    flex-direction: column;
    gap: 0;
    background-color: whitesmoke;
  }
  .header__nav-list > li {
    width: 100%;
    padding: .5em;
  }
  .header__nav-list > li + li {
    border-top: 1px solid gray;
  }
  .header__nav[data-expanded="false"] {
    grid-template-rows: 0fr;
  }
  .header__nav[data-expanded="true"] {
    grid-template-rows: 1fr;
  }
}